.text-center {
    text-align: center;
}

.size-footer {
    font-size: 1.2rem;
}

.text-font-footer {
    font-family: "Impact", "Verdana", "Roboto", "Arial", "sans-serif", "Calibri";
}

#rede-social {
    margin: 0.4rem 0rem 0rem;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#div-facebook {
    padding: 0.1rem;
    justify-content: center;
    background-color: #fff;
}

#div-gmail {
    padding: 0.2rem;
    justify-content: center;
    background-color: #fff;
}

.w-img {
    width: 1.5rem;
}

#telefone-whats {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tel-whats-div {
    margin-right: 0.2rem;
}

#endereco {
    margin: 0.6rem 0.3rem 0rem;
}

#text-endereco {
    text-align: center;
}

/* Responsividade */
@media screen and (min-width: 280px) {
    .size-footer {
        font-size: clamp(1rem, 1.4rem, 4rem);
    }

    .w-img {
        width: 3rem;
    }
}

@media screen and (min-width: 640px) {
    .w-img {
        width: 5rem;
    }
}

@media screen and (min-width: 1024px) {
    .size-footer {
        font-size: clamp(1.5rem, 2rem, 4rem);
    }
    .w-img {
        width: 3rem;
    }
}
