.text-center {
    text-align: center;
}

.text-font-footer {
    font-family: "Impact", "Verdana", "Roboto", "sans-serif";
}
.w-img {
    width: 1.5rem;
}

#telefone-whats {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tel-whats-div {
    margin-right: 0.2rem;
}

#redes-sociais {
    display: flex;
    justify-content: center;
}

.align-center {
    align-items: center;
}

#endereco {
    margin-top: 0.6rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

#text-endereco {
    text-align: center;
}
