.text-center {
    text-align: center;
}

.size-footer {
    font-size: 1.2rem;
}

.text-font-footer {
    font-family: "Impact", "Verdana", "Roboto", "sans-serif";
}

.w-img {
    width: 1.5rem;
}

#telefone-whats {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tel-whats-div {
    margin-right: 0.2rem;
}

#rede-social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#endereco {
    margin: 0.6rem 0.3rem 0rem;
}

#text-endereco {
    text-align: center;
}
