.text-center {
    text-align: center;
}

.size-footer {
    font-size: 1.2rem;
}

.text-font-footer {
    font-family: "Impact", "Verdana", "Roboto", "Arial", "sans-serif", "Calibri";
}

.w-img {
    width: 1.5rem;
}

#telefone-whats {
    display: flex;
    justify-content: center;
    align-items: center;
}

#tel-whats-div {
    margin-right: 0.2rem;
}

#rede-social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#endereco {
    margin: 0.6rem 0.3rem 0rem;
}

#text-endereco {
    text-align: center;
}

/* Responsividade */
@media screen and (min-width: 280px) {
    .size-footer {
        font-size: clamp(1rem, 1.4rem, 4rem);
    }

    .w-img {
        width: 3rem;
    }
}

@media screen and (min-width: 1024px) {
    .size-footer {
        font-size: clamp(3.5rem, 3.5rem, 4rem);
    }
}
