@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* width de 100% */
.w-1\1 {
    width: 100%;
}

table {
    width: 100%;

    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td,
th {
    margin: 10px 6rem;
    padding: 8px;

    font-family: "Roboto", "sans-serif", "Calibri", Helvetica, "Helvetica Neue";
    font-size: 2rem;
    color: #fff;
    text-align: left;
}

td {
    color: #bfbfbf;
}

.btnEditDel {
    cursor: pointer;
}

#cabecalho-table {
    font-size: 4rem;
    font-weight: bold;
}

.color-white{
    color: #fff;
}