@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

table {
    width: 100%;

    font-family: arial, sans-serif;
    border-collapse: collapse;
}

#a {
    background: gold;
}

#b {
    background: red;
}

td,
th {
    margin: 10px 6rem;
    padding: 8px;

    color: #fff;
    font-family: "Roboto", "sans-serif", "Calibri", Helvetica, "Helvetica Neue";
    text-align: left;
}

#cabecalho-table {
    font-weight: bold;
}
