@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

#show-alunos {
    background: #1f2937;
    border-radius: 15px;
}

.line {
    justify-content: space-around;
}

.celula-tabela {
    color: #fff;
    margin-left: 3rem;
    font-family: "Roboto", "sans-serif", "Calibri", Helvetica, "Helvetica Neue";
}
#cabecalho-table {
    font-weight: bold;
}
