@import "form-contato.css";

/* Globais */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

main {
    background: #e2e2e2;
}

/* Página Inicial */
.video-inicial {
    top: 0;
    left: 0;
    
    height: 64vh;
    width: 100%;
    
    position: static;
    object-fit: cover;
}

.slogan-inicio h1 {
    padding: 4vh 0vh;

    background: #7c411f;
    border-bottom: 2px solid #e77e41;
    text-align: center;
    font-size: 56px;
    color: #e77e41;

    cursor: default;
}

hr {
    margin: 0;
    padding: 0;
    margin-top: 10px;

    box-sizing: border-box;

    width: 100vw;

    border: 2px solid #e77e41;    
}

h2,
h3 {
    padding-top: 30px;
}

h3 {
    color: #e77e41;
}

.api-versiculo {
    text-align: center;
    color: #111827;
    font-size: 16px;
}

.api-p {
    text-align: center;
    justify-content: center;
    font-size: 18px;
    padding: 0px 500px 30px;
}

/* Estilos da página Projetos e na pagina inicial, na seção Projetos */
#titulo-nossos-projetos-pg{
    text-align: center; 
    position: relative; 
    top: -10px;
}

.projetos-igreja {
    margin: 0 auto;
    width: 70%;

    text-align: center;
}


.projeto-lista {
    width: 100%;
    list-style-type: square;
    list-style-position: inside;
    text-align: left;
}

#projeto-lista-adad{
    text-align: center;
}

.projeto-lista p,
li {
    font-size: 18px;
}

.projetos-mais-info {
    width: 70%;
    margin: 0 15%;
    text-align: center;
    padding-top: 20px;
}

.projetos-mais-info a {
    color: #e77e41;
}

.reunioes {
    width: 70%;
    margin: 0 auto;

    text-align: center;
    background: #e77e41;
    border-radius: 5px;
}


#reunioes-inicio {
    margin-top: 10px;
}


.reunioes p {
    color: #e2e2e2;
    font-size: 18px;
    padding-bottom: 20px;
}

.reunioes h2 {
    color: #e2e2e2;
}

/* Página Reuniões */

.descricao-reuniao {
    text-align: center;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.descricao-reuniao h2 {
    font-family: "Poppins", sans-serif;
    padding-bottom: 20px;
}

.institucional-pg {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.institucional-pg p {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font-size: 18px;
}

.institucional-pg h2 {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 20px;
}

#imagem-logo-adad > img {
    margin-top: 1.7rem;
    max-width: 100px;
}

/* Responsivida Mobile First */
@media screen and (min-width: 640px){
    
    .projetos-mais-info {
        width: 100%;
        margin: 0;
    }

    /* Estilos para a página Reniões e Página Inicial */
    .reunioes {
        width: 50%;
    }

    .descricao-reuniao {
        width: 70%;
    }
}

@media screen and (min-width: 768px){
    .reunioes {
        width: 30%;
    }
    
    .descricao-reuniao {
        width: 50%;
    }
}
