/* Importando fonts para a aplicacao */

/*  Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*  Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* Styles Componentizados */
@import "header/header.css";
@import "footer/footer.css";

/*  Formulário Contato */
/*  Página Institucional */
/*  Página nossas-reuniões */
@import "form/form_main.css";
@import "institucional/institucional_main.css";
@import "nossas-reunioes/nossas-reunioes_main.css";

/* styles globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background: #fff;
}

:root {
    --color-primary: #ff6600;
    /* --background-button: #7d7d7d; */
    --background-header: #dedcdc;

    /* Form de Contato */
    --font-family-form: "arial black";
}

.titlePage {
    margin: 40px;

    font-family: var(--font-family-form);
    font-size: 50px;
    color: #2b2a2a;
    text-align: center;
}
