/* Importando fonts para a aplicacao */

/*  Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*  Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* Styles Componentizados */
@import "header/header.css";
@import "footer/footer.css";

/*  Formulário Contato */
/*  Página Institucional */
/*  Página nossas-reuniões */
@import "form/form_main.css";
@import "institucional/institucional_main.css";
@import "nossas-reunioes/nossas-reunioes_main.css";

/* styles globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;

    background: #fff;
}
main {
    margin: 0;
    padding: 0;
}

:root {
    --color-primary: #ff6600;
    /* --background-button: #7d7d7d; */
    --background-header: #dedcdc;

    /* Form de Contato */
    --font-family-form: "arial black";
}

.titlePage {
    font-family: var(--font-family-form);

    color: #2b2a2a;
}

.color-primary {
    color: #ff6600;
}

.bg-main {
    background: #ffcc99;
}

.bg-div {
    background: #212121;
}

.color-white {
    color: #fff;
}

.text {
    font-family: "arial black";
    font-size: 40px;

    border-radius: 10px;
}
