/* Importando fonts para a aplicacao */

/*  Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*  Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

/* nav & footer */
@import "header/logo-nav.css";
@import "header/menu-nav.css";
@import "header/menu-mobile.css";
@import "footer/footer.css";

/*  Formulário Contato */
@import "form/form_main.css";

/*  Página Institucional */
@import "institucional/institucional_main.css";

/*  Página nossas-reuniões */
@import "nossas-reunioes/nossas-reunioes_main.css";

/* styles globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #ff6600;
    --background: #dedcdc;
}

body {
    margin: 0;
    padding: 0;
    background: black;
}

/* div que contem a nav*/
#header {
    top: 0;
    left: 0;

    width: 100%;
    height: 4.5rem;

    float: left;
    display: flex;

    /* background-color: var(--background); */
}

/* main do site */
main {
    margin: 0;
    padding: 0;
}

/*footer do site */
footer {
    margin: 0;
    height: 6rem;

    display: flex;

    background: var(--background);
}

.titlePage {
    font-family: "arial black";

    color: #2b2a2a;
}

.color-primary {
    color: #ff6600;
}

.bg-body{
background: var(--background);
}

.bg-main {
    background: #ffcc99;
}

.bg-div {
    background: #212121;
}

.color-white {
    color: #fff;
    font-weight: bold;
}

.text {
    font-family: "arial black";
    font-size: 40px;

    border-radius: 10px;
}

.px-auto{
    padding-left: auto;
    padding-right: auto;
}
