/* nav_bar Igreja */
nav {
    top: 0;
    left: 0;
    
    width: 100%;
    height: 87px;

    display: flex;    
    
    background-color: var(--background-header);
}

#nav_logo{
    margin: 0;
    padding: .19rem 0;
    padding-left: 40px;
    
    width: 35%;

    display: flex;
}

#logo-adad{
    width: 80px;
    height: 80px;

    cursor: pointer;
}


#logo-igreja {
    padding: 0 15px;
    width: 128px;
    height: 80px;
}

#nav_menu {
    margin: 0;

    width: 65%;
}

#menu_button_ul {
    display: flex;

    list-style: none;
}

.menu_button_li {
    margin: 0 10px;
    margin-top: 17px;

    width: 25%;
    height: 50px;
}

/* passar limpo */
#nomeIgreja {
    margin: 10px 13px;
    padding-top: 1px;
    width: 75%;

    font-family: "Impact";
    text-align: center;
    color: #000000;
    font-size: 27px;
}


.menu_button_item {
    padding: 10px 10px 6px 10px;
    
    width: 100%;

    background-color: var(--background-header);

    text-align: center;
    font-size: 20px;
    font-family: "Verdana";
    font-weight: bold;
    color: var(--color-primary);
    text-decoration: none;

    border-radius: 4px;

    /* transicao ao passar o mouse por cima do 'botao' */
    transition: background-color 0.9s;
    transition-delay: 50ms;

    transition-timing-function: ease-out;
}

 .menu_button_item:hover {
    color: #ff4000;
    border: none;
}

#btnInstitucional {
    padding-top: 10px;
}

#btnProjetos, #btnAreaRestrita, #btnReunioes{
    padding: 2px 0 6px 0;
}

#btnReunioes {
    padding: 2px 0 6px 0;
    font-size: 20px;
}
