/* #nav_logo {
    margin: 0;
    padding: 0.19rem 0;
    padding-left: 40px;

    width: 35%;

    display: flex;
} */

#logo-adad {
    background: yellow;
    width: 3rem;
    cursor: default;
}

#logo-igreja {
    background: red;
    /* padding: 0 15px; */
    width: 3rem;
}
