#menu_button {
    /* display: none; */
    background-color: blue;


    top: 12vh;
    right: 0px;

    width: 50vw;
    height: 88vh;

}

/* Code by Analysys */
#menu_button_ul {
    margin: 0;
    padding: 0;


    background-color: red;

    display: flex;
    flex-direction: column;

    align-items: center;

    justify-content: center;
    justify-items: center;

    list-style: none;
}

#menu_button_ul>li {
    margin-bottom: 10px;
}


/* End Code by Analysys */

.menu_button_item {
    font-size: 12px;
    font-family: "Verdana";
    font-weight: bold;
    color: #ff6600;
    text-decoration: none;

    transition-delay: 200ms;

    transition-timing-function: ease-in-out;
}

@media screen and (min-width: 1024px) {
    #menu_button {
        display: initial;
        margin: 0;

        width: 65%;
    }

    #menu_button_ul {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;

        list-style: none;
    }

    #menu_button_ul>li {
        margin: 0;
    }

    .menu_button_item {
        font-size: 1rem;
        text-align: center;
    }

    .menu_button_item:hover {
        color: #ff4000;
    }
}