#nav-mobile {
    width: 30%;
    /* in Analisy */
    height: 100%;
    /* end */

    opacity: 1;

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
}


/* btn de mobile */
/* Posição Inicial: Hamburguer aberto e X fechado */
.menu-mobile-item {
    text-decoration: none;
    color: black;
}

nav #menu-mobile-close {
    display: none;
}

/* Se for exibido os btns de menu: Hamburguer aberto e X fechado */

.teste#menu-mobile-close {
    display: block;
}

.teste#menu-mobile-open {
    display: none;
}

/* nav a.mobile-open {

}
*/

/* nav.show a.mobile-open {
    display: none;
}  */
/* btn de fechar */
/* nav a.mobile-close {
    display: none;
}

nav.show a.mobile-close { */
/* display: initial; */
/* display: none; }*/

@media screen and (min-width: 280px) {
    #nav-mobile {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 409px) {
    #nav-mobile {
        font-size: 1.8rem;
    }
}

@media screen and (min-width: 640px) {
    #nav-mobile {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1024px) {
    #nav-mobile {
        display: none;
    }

    .nav-mobile-item {
        display: none;
    }
}