#menu_button {
    display: none;
}


@media screen and (min-width: 1024px) {

    #menu_button {
        display: initial; 
        margin: 0;

        width: 65%;
    }

    #menu_button_ul {
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-around;

        list-style: none;
    }

    .menu_button_item {
        
        text-align: center;
        font-size: 1rem;
        font-family: "Verdana";
        font-weight: bold;
        color: #ff6600;
        text-decoration: none;

        transition-delay: 200ms;

        transition-timing-function: ease-in-out;
    }

    .menu_button_item:hover {
        color: #ff4000;
    }
}