#menu_button {
    /* display: none; */
    width: 100vw;
    height: 88vh;

    top: 12vh;
    right: 0px;
}

#menu_button_ul {
    margin: 0;
    padding: 0;

    background: #f0f0f0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: normal;
    list-style: none;
}


.menu_button_item {
    font-size: 12px;
    font-family: "Verdana";
    font-weight: bold;
    color: #ff6600;
    text-decoration: none;

    transition-delay: 200ms;

    transition-timing-function: ease-in-out;
}

@media screen and (min-width: 1024px) {
    #menu_button {
        display: initial;
        margin: 0;

        width: 65%;
        height: initial;

    }

    #menu_button_ul {
        height: 100%;
        width: 100%;

        top: initial;
        right: initial;

        background: initial;

        display: flex;
        flex-direction: initial;
        align-items: center;
        justify-content: space-around;
        justify-items: initial;
        list-style: none;
    }

    .menu_button_item {
        font-size: 1rem;
        text-align: center;
    }

    .menu_button_item:hover {
        color: #ff4000;
    }
}