@import 'logo-nav.css';
@import 'menu-mobile.css';
@import 'menu-nav.css';

/* div#header que é o pai da nav */
#header {
    top: 0;
    left: 0;

    width: 100%;
    height: 4.5rem;

    /* float: left;
    display: flex; */

    /* background-color: var(--background); */
}
