/* Responsividade Grand Prime */
#title-nossas-reunioes {
    margin: 0;
    padding: 0;

    margin-bottom: 10px;
    padding-top: 2vh;

    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
}

#square {
    margin: 0 auto;
}

#pb-footer-nossas-reunioes {
    padding-bottom: 15px;
}

/* .text {
    padding: 5px 0;

    font-family: "arial black";
    border-radius: 20px;

    text-align: center;
} */

#text-institucional {
    font-size: 10px;
}

/* Galaxy Fold */
