/* Responsividade Grand Prime */
#title-nossas-reunioes {
    margin: 0;
    padding: 0;

    margin-bottom: 10px;
    padding-top: 2vh;

    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
}

#square {
    margin: 0 auto;
}

#pb-footer-nossas-reunioes {
    padding-bottom: 15px;
}

#text-nossas-reunioes {
    padding: 5px 0;

    font-size: 0.8rem;
}

/* Galaxy Fold */
@media screen and (min-width: 768px) {
    #text-nossas-reunioes {
        font-size: clamp(2.4rem, 2.4rem, 2.8rem);
    }
}
