/* Responsividade Galaxy Fold ! NO, no! error*/
#title-institucional {
    margin-top: 1vh;
    margin-bottom: 10px;

    position: relative;
    background-color: red;

    

    text-align: center;
    font-size: 1rem;
}

#square {
    margin: 0 auto;

    /* width: 90vw;
    height: 50vh; */
}

#textPosition {
    /* top: 50%;
    position: relative;

    transform: translateY(-60%); */
}

.text {
    padding: 5px 0;

    font-family: "arial black";
    color: rgb(0, 255, 204);
    background: pink;
    border-radius: 5px;

    text-align: center;
}

#text-institucional {
    font-size: 10px;
}

@media screen and (min-width: 576px) {
    body {
        background-color: #15ff00;
    }

    #title-institucional {
        background-color: #0000ff;
        top: -39px;
        margin: 40px;
    }

    #titleInstitucional {
        font-size: 50px;
    }

    #square {
        margin-top: 10px;
        width: 80vw;
        height: 90vh;

        text-align: center;
    }
    .text {
        font-size: 30px;
    }
    #text-institucional {
        padding: 70px 60px;
    }
}
