/* Responsividade Grand Prime */
#title-institucional {
    margin-top: 1vh;
    margin-bottom: 10px;

    position: relative;
    background-color: red;

    text-align: center;
    font-size: 1rem;
}

#square {
    margin: 0 auto;
}

.text {
    padding: 5px 0;

    font-family: "arial black";
    background: pink;
    border-radius: 14px;

    text-align: center;
}

#text-institucional {
    font-size: 10px;
}

/* Galaxy Fold */
@media screen and (min-width: 576px) {
    #title-institucional {
        top: -39px;
        margin: 40px;
    }

    #titleInstitucional {
        font-size: 50px;
    }

    #square {
        margin-top: 10px;
        width: 80vw;
        height: 90vh;

        text-align: center;
    }
    .text {
        font-size: 30px;
    }
    #text-institucional {
        padding: 70px 60px;
    }
}
