@media screen and (min-width: 280px) {
    #title-sem-alunos {
        font-size: clamp(1.4rem, 1.8rem, 5rem);
    }

    #text-sem-alunos {
        font-size: clamp(1rem, 1.6rem, 4rem);
    }
}

@media screen and (min-width: 1024px) {
    #title-sem-alunos {
        font-size: clamp(4rem, 4rem, 9rem);
    }

    #text-sem-alunos {
        font-size: clamp(3.5rem, 3.5rem, 4rem);
    }
}
